/* ---------------------- This CSS file is for index.html --------------------------- */

/* Resizing navbar */


#logo{
    height: 81px;
    width: 243px;
}

#nav{
    position: sticky;
    top: 0px;
}
@media screen and (min-width: 950px) {
    #nav{
        height: 75px;
    }
    
}